---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/absa/restaurants
    body:
      encoding: US-ASCII
      string: text=We+visited+here+during+our+recent+trip+to+Sydney+and+%0A++++++overall+we+were+very+impressed.+We+decided+to+make+a+reservation+online%2C+%0A++++++which+was+quick+and+easy+with+instant+confirmation.+%0A++++++It+was+nice+to+be+able+to+view+the+table+layout+and+select+our+own+online.+%0A++++++The+location+is+spectacular+with+stunning+views+of+the+harbour+%0A++++++and+Opera+House.+It+truly+was+amazing.+%0A++++++Despite+this%2C+however%2C+the+restaurant+was++only+about+25%25+%0A++++++full+and+so+the+atmosphere+was+a+bit+flat.+Perhaps+this+was+to+our+%0A++++++benefit+as+we+received+top+class+service+from+our+waiter%2C+%0A++++++Brandon%2C+who+was+not+only+friendly+and+funny+but+extremely+%0A++++++knowledgeable+when+it+came+to+food+and+wine+pairings.+%0A++++++Speaking+of+wine%2C+the+list+was+extensive+-+we+loved+it+-+%0A++++++and+it+took+us+what+seemed+like+an+hour+to+eventually+%0A++++++decide+on+a+local+Shiraz.+Now+on+to+the+most+important+%0A++++++aspect%2C+the+food.+Our+seafood+starters+were+delicious%2C+%0A++++++as+were+out+fillet+steak+mains.+%0A++++++The+one+and+only+real+disappointment+was+the+dessert+which+was+served+%0A++++++with+no+real+imagination+and+looked+like+it+had+been+purchased+%0A++++++yesterday+at+the+local+grocery+store.+%0A++++++All+in+all%2C+my+favourite+Sydney+restaurant+so+far.+%0A++++++So+many+positives+and+really+good+value+too.+Highly+recommend%21&domain=restaurants
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174115'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "We visited here during our recent trip to Sydney and \n      overall we were very impressed. We decided to make a reservation online, \n      which was quick and easy with instant confirmation. \n      It was nice to be able to view the table layout and select our own online. \n      The location is spectacular with stunning views of the harbour \n      and Opera House. It truly was amazing. \n      Despite this, however, the restaurant was  only about 25% \n      full and so the atmosphere was a bit flat. Perhaps this was to our \n      benefit as we received top class service from our waiter, \n      Brandon, who was not only friendly and funny but extremely \n      knowledgeable when it came to food and wine pairings. \n      Speaking of wine, the list was extensive - we loved it - \n      and it took us what seemed like an hour to eventually \n      decide on a local Shiraz. Now on to the most important \n      aspect, the food. Our seafood starters were delicious, \n      as were out fillet steak mains. \n      The one and only real disappointment was the dessert which was served \n      with no real imagination and looked like it had been purchased \n      yesterday at the local grocery store. \n      All in all, my favourite Sydney restaurant so far. \n      So many positives and really good value too. Highly recommend!",
          "domain": "restaurants",
          "aspects": [{
            "aspect": "food",
            "aspect_confidence": 0.6389724388718605,
            "polarity": "positive",
            "polarity_confidence": 0.8153238445520401
          }, {
            "aspect": "reservations",
            "aspect_confidence": 0.9852001070976257,
            "polarity": "positive",
            "polarity_confidence": 0.5800985991954803
          }, {
            "aspect": "value",
            "aspect_confidence": 0.5432075262069702,
            "polarity": "positive",
            "polarity_confidence": 0.9174332618713379
          }, {
            "aspect": "desserts",
            "aspect_confidence": 0.9849463701248169,
            "polarity": "negative",
            "polarity_confidence": 0.995750904083252
          }, {
            "aspect": "location",
            "aspect_confidence": 0.9726915955543518,
            "polarity": "positive",
            "polarity_confidence": 0.9497880935668945
          }, {
            "aspect": "ambience",
            "aspect_confidence": 0.972251832485199,
            "polarity": "neutral",
            "polarity_confidence": 0.781753480434418
          }, {
            "aspect": "staff",
            "aspect_confidence": 0.6776668429374695,
            "polarity": "positive",
            "polarity_confidence": 0.9565765261650085
          }, {
            "aspect": "drinks",
            "aspect_confidence": 0.5717937052249908,
            "polarity": "positive",
            "polarity_confidence": 0.8246689140796661
          }],
          "sentences": [{
            "text": "We visited here during our recent trip to Sydney and \n      overall we were very impressed.",
            "polarity": "positive",
            "polarity_confidence": 0.984675943851471,
            "aspects": []
          }, {
            "text": "We decided to make a reservation online, \n      which was quick and easy with instant confirmation.",
            "polarity": "positive",
            "polarity_confidence": 0.5614513158798218,
            "aspects": [{
        [...]
