---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/classify
    body:
      encoding: US-ASCII
      string: text=CCTV+footage+shows+the+moment+a+suicide+car+bomber+detonates%0A++++++a+device+in+Beirut+on+Tuesday.+The+incident+took+place+in+an+area%0A++++++of+support+for+Hezbollah+and+left+four+people+dead+with+many+more+wounded.%0A++++++A+group+calling+itself+the+al-Nusra+Front+in+Lebanon+has+claimed%0A++++++responsibility+for+the+attack+saying+it+was+in+retaliation+for%0A++++++Hezbollah%27s+military+support+of+president+Bashar+al-Assad%27s+forces+in+Syria
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"text\": \"CCTV footage shows the moment a suicide car bomber
        detonates\\n      a device in Beirut on Tuesday. The incident took place in
        an area\\n      of support for Hezbollah and left four people dead with many
        more wounded.\\n      A group calling itself the al-Nusra Front in Lebanon
        has claimed\\n      responsibility for the attack saying it was in retaliation
        for\\n      Hezbollah's military support of president Bashar al-Assad's forces
        in Syria\",\n  \"language\": \"en\",\n  \"categories\": [{\n    \"label\":
        \"defence - biological and chemical weapons\",\n    \"code\": \"11001007\",\n
        \   \"confidence\": 1.0\n  }]\n}"
  recorded_at: Tue, 02 Dec 2014 18:14:45 GMT
recorded_with: VCR 2.9.3
