---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/combined
    body:
      encoding: US-ASCII
      string: endpoint=extract&endpoint=concepts&endpoint=entities&endpoint=summarize&endpoint=classify&endpoint=hashtags&endpoint=language&text=CCTV+footage+shows+the+moment+a+suicide+car+bomber+detonates%0A++++++a+device+in+Beirut+on+Tuesday.+The+incident+took+place+in+an+area%0A++++++of+support+for+Hezbollah+and+left+four+people+dead+with+many+more+wounded.%0A++++++A+group+calling+itself+the+al-Nusra+Front+in+Lebanon+has+claimed%0A++++++responsibility+for+the+attack+saying+it+was+in+retaliation+for%0A++++++Hezbollah%27s+military+support+of+president+Bashar+al-Assad%27s+forces+in+Syria
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206324'
      X-Ratelimit-Reset:
      - '1442534400'
      X-Mashape-Billing:
      - requests=7
    body:
      encoding: UTF-8
      string: '{"text":"CCTV footage shows the moment a suicide car bomber detonates\n      a
        device in Beirut on Tuesday. The incident took place in an area\n      of
        support for Hezbollah and left four people dead with many more wounded.\n      A
        group calling itself the al-Nusra Front in Lebanon has claimed\n      responsibility
        for the attack saying it was in retaliation for\n      Hezbollah''s military
        support of president Bashar al-Assad''s forces in Syria","results":[{"endpoint":"extract","result":{"author":"","image":"","article":"CCTV
        footage shows the moment a suicide car bomber detonates\n      a device in
        Beirut on Tuesday. The incident took place in an area\n      of support for
        Hezbollah and left four people dead with many more wounded.\n      A group
        calling itself the al-Nusra Front in Lebanon has claimed\n      responsibility
        for the attack saying it was in retaliation for\n      Hezbollah''s military
        support of president Bashar al-Assad''s forces in Syria","videos":[],"title":"","feeds":[]}},{"endpoint":"language","result":{"lang":"en","confidence":0.9999981613101834}},{"endpoint":"entities","result":{"language":"en","entities":{"date":["Tuesday"],"location":["Beirut","Lebanon","Syria"],"keyword":["support
        of president Bashar","support for Hezbollah","support","Hezbollah","suicide","bomber","device","Bashar","president","Beirut","moment","Tuesday","military","responsibility","incident","Lebanon","Front","al-Assad","group","dead"],"organization":["Hezbollah"]}}},{"endpoint":"concepts","result":{"language":"en","concepts":{"http://dbpedia.org/resource/Bashar_al-Assad":{"surfaceForms":[{"string":"Bashar
        al-Assad","score":1.0,"offset":402}],"types":["http://dbpedia.org/ontology/Agent","http://www.wikidata.org/entity/Q215627","http://schema.org/Person","http://xmlns.com/foaf/0.1/Person","http://www.wikidata.org/entity/Q5","http://dbpedia.org/ontology/Person"],"support":1139},"http://dbpedia.org/resource/Syria":{"surfaceForms":[{"string":"Syria","score":0.9999997769859554,"offset":430}],"types":["http://dbpedia.org/ontology/Country"],"support":26138},"http://dbpedia.org/resource/Beirut":{"surfaceForms":[{"string":"Beirut","score":0.9999825931459005,"offset":79}],"types":["http://dbpedia.org/ontology/Location","http://schema.org/Place","http://dbpedia.org/ontology/Place","http://dbpedia.org/ontology/PopulatedPlace","http://www.wikidata.org/entity/Q486972","http://dbpedia.org/ontology/Settlement"],"support":8176},"http://dbpedia.org/resource/Hezbollah":{"surfaceForms":[{"string":"Hezbollah","score":1.0,"offset":154}],"types":["http://dbpedia.org/ontology/PoliticalParty"],"support":5001},"http://dbpedia.org/resource/Al-Nusra_Front":{"surfaceForms":[{"string":"al-Nusra
        Front","score":1.0,"offset":247}],"types":[""],"support":411},"http://dbpedia.org/resource/Closed-circuit_television":{"surfaceForms":[{"string":"CCTV","score":0.9997132750008201,"offset":0}],"types":[""],"support":1724},"http://dbpedia.org/resource/Bomber":{"surfaceForms":[{"string":"bomber","score":0.9524579388652058,"offset":44}],"types":[""],"support":3798},"http://dbpedia.org/resource/Lebanon":{"surfaceForms":[{"string":"Lebanon","score":0.9999999930598733,"offset":265}],"types":["http://dbpedia.org/ontology/Country"],"support":23160}}}},{"endpoint":"classify","result":{"language":"en","categories":[{"label":"defence
        - biological and chemical weapons","code":"11001007","confidence":1.0}]}},{"endpoint":"hashtags","result":{"language":"en","hashtags":["#Hezbollah","#Beirut","#ClosedcircuitTelevision","#Syria","#Lebanon","#AlNusraFront","#CCTV","#Bomber","#BasharAlAssad"]}},{"endpoint":"summarize","result":{"sentences":["The
        incident took place in an area\n      of support for Hezbollah and left four
        people dead with many more wounded.","A group calling itself the al-Nusra
        Front in Lebanon has claimed\n      responsibility for the attack saying it
        was in retaliation for\n      Hezbollah''s military support of president Bashar
        al-Assad''s forces in Syria"]}}]}'
  recorded_at: Thu, 17 Sep 2015 11:18:27 GMT
recorded_with: VCR 2.9.3
