---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/combined
    body:
      encoding: US-ASCII
      string: wrong_param=CCTV+footage+shows+the+moment+a+suicide+car+bomber+detonates%0A++++++a+device+in+Beirut+on+Tuesday.+The+incident+took+place+in+an+area%0A++++++of+support+for+Hezbollah+and+left+four+people+dead+with+many+more+wounded.%0A++++++A+group+calling+itself+the+al-Nusra+Front+in+Lebanon+has+claimed%0A++++++responsibility+for+the+attack+saying+it+was+in+retaliation+for%0A++++++Hezbollah%27s+military+support+of+president+Bashar+al-Assad%27s+forces+in+Syria&endpoint=extract&endpoint=concepts&endpoint=entities&endpoint=summarize&endpoint=classify&endpoint=hashtags&endpoint=language
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206143'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: either text or url is required",
          "errors": [{
            "reason": "required",
            "message": "either text or url is required",
            "locationType": "parameter",
            "location": "text"
          }]
        }
  recorded_at: Thu, 06 Aug 2015 16:59:34 GMT
recorded_with: VCR 2.9.3
