---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/concepts
    body:
      encoding: US-ASCII
      string: text=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"text":"Barack Hussein Obama II is the 44th and current\n      President
        of the United States, and the first\n      African American to hold the office.","language":"en","concepts":{"http://dbpedia.org/resource/Race_and_ethnicity_in_the_United_States_Census":{"surfaceForms":[{"string":"African
        American","score":0.9775916924283343,"offset":106}],"types":[""],"support":262175},"http://dbpedia.org/resource/Barack_Obama":{"surfaceForms":[{"string":"Barack
        Hussein Obama II","score":1.0,"offset":0}],"types":["http://dbpedia.org/ontology/Agent","http://schema.org/Person","http://xmlns.com/foaf/0.1/Person","http://dbpedia.org/ontology/Person","http://dbpedia.org/ontology/OfficeHolder"],"support":14686},"http://dbpedia.org/resource/United_States":{"surfaceForms":[{"string":"United
        States","score":0.9999067449772838,"offset":71}],"types":["http://schema.org/Place","http://dbpedia.org/ontology/Place","http://dbpedia.org/ontology/PopulatedPlace","http://schema.org/Country","http://dbpedia.org/ontology/Country"],"support":538753}}}'
  recorded_at: Tue, 02 Dec 2014 18:15:09 GMT
recorded_with: VCR 2.9.3
