---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/elsa
    body:
      encoding: US-ASCII
      string: wrong_param=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: either text or url is required",
          "errors": [{
            "reason": "required",
            "message": "either text or url is required",
            "locationType": "parameter",
            "location": "text"
          }]
        }
  recorded_at: Thu, 31 May 2018 11:03:10 GMT
recorded_with: VCR 2.9.3
