---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/elsa
    body:
      encoding: US-ASCII
      string: text=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Barack Hussein Obama II is the 44th and current\n      President of the United States, and the first\n      African American to hold the office.",
          "entities": [{
            "mentions": [{
              "offset": 71,
              "confidence": 1.0,
              "text": "United States",
              "sentiment": {
                "polarity": "neutral",
                "confidence": 0.48
              }
            }],
            "overall_sentiment": {
              "polarity": "neutral",
              "confidence": 0.48
            },
            "type": "Location",
            "links": [{
              "uri": "http://dbpedia.org/resource/United_States",
              "provider": "dbpedia",
              "types": ["http://dbpedia.org/ontology/Country"],
              "confidence": 28.15
            }]
          }, {
            "mentions": [{
              "offset": 0,
              "confidence": 1.0,
              "text": "Barack Hussein Obama II",
              "sentiment": {
                "polarity": "positive",
                "confidence": 0.56
              }
            }],
            "overall_sentiment": {
              "polarity": "positive",
              "confidence": 0.56
            },
            "type": "Person",
            "links": [{
              "uri": "http://dbpedia.org/resource/Barack_Obama",
              "provider": "dbpedia",
              "types": ["http://dbpedia.org/ontology/Agent", "http://www.wikidata.org/entity/Q215627", "http://www.wikidata.org/entity/Q5", "http://schema.org/Person", "http://dbpedia.org/ontology/Person", "http://xmlns.com/foaf/0.1/Person"],
              "confidence": 0.91
            }]
          }]
        }
  recorded_at: Thu, 31 May 2018 11:03:09 GMT
recorded_with: VCR 2.9.3
