---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/entities
    body:
      encoding: US-ASCII
      string: text=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206173'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Barack Hussein Obama II is the 44th and current\n      President of the United States, and the first\n      African American to hold the office.",
          "language": "en",
          "entities": {
            "location": ["United States"],
            "keyword": ["current", "President", "44th", "United", "Obama", "African", "Hussein", "American", "Barack", "office"],
            "product": ["Barack Hussein Obama"],
            "person": ["Hussein Obama II"]
          }
        }
  recorded_at: Thu, 06 Aug 2015 16:59:10 GMT
recorded_with: VCR 2.9.3
