---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/entities
    body:
      encoding: US-ASCII
      string: wrong_param=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205547'
      X-Ratelimit-Reset:
      - '1426550400'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: Either text or url is required",
          "errors": [{
            "reason": "required",
            "message": "Either text or url is required",
            "locationType": "parameter",
            "location": "text"
          }]
        }
  recorded_at: Mon, 16 Mar 2015 14:33:27 GMT
recorded_with: VCR 2.9.3
