---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/entities
    body:
      encoding: US-ASCII
      string: text=Barack+Hussein+Obama+II+is+the+44th+and+current%0A++++++President+of+the+United+States%2C+and+the+first%0A++++++African+American+to+hold+the+office.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"text":"Barack Hussein Obama II is the 44th and current\n      President
        of the United States, and the first\n      African American to hold the office.","entities":{"location":["United
        States"],"keyword":["current","President","44th","United","Obama","African","Hussein","American","Barack","office"],"person":["Barack","Hussein
        Obama II"],"product":["Barack Hussein Obama II"]}}'
  recorded_at: Tue, 02 Dec 2014 18:15:34 GMT
recorded_with: VCR 2.9.3
