---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/extract
    body:
      encoding: US-ASCII
      string: text=The+oil-rich+billionaires+of+the+Gulf+have+planted%0A++++++++++++++++a+flag+at+the+heart+of+the+sporting+landscape+in+recent+years.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174022'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: either html or url is required",
          "errors": [{
            "reason": "required",
            "message": "either html or url is required",
            "locationType": "parameter",
            "location": "url"
          }]
        }
  recorded_at: Thu, 28 Apr 2016 10:37:03 GMT
recorded_with: VCR 2.9.3
