---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/hashtags
    body:
      encoding: US-ASCII
      string: text=The+Google+Cast+SDK+is+simple+to+integrate+because+there%E2%80%99s+no%0A++++++need+to+write+a+new+app.+Just+incorporate+the+SDK+into+your+existing%0A++++++mobile+and+web+apps+to+bring+your+content+to+the+TV.+You+are+in%0A++++++control+of+how+and+when+you+develop+and+publish+your+cast-ready%0A++++++apps+through+the+Google+Cast+developer+console.%0A++++++The+SDK+is+available+on+Android+and+iOS+as+well+as+on+Chrome%0A++++++through+the+Google+Cast+browser+extension.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"text\": \"The Google Cast SDK is simple to integrate because
        there\\u2019s no\\n      need to write a new app. Just incorporate the SDK
        into your existing\\n      mobile and web apps to bring your content to the
        TV. You are in\\n      control of how and when you develop and publish your
        cast-ready\\n      apps through the Google Cast developer console.\\n      The
        SDK is available on Android and iOS as well as on Chrome\\n      through the
        Google Cast browser extension.\",\n  \"language\": \"en\",\n  \"hashtags\":
        [\"#SoftwareDevelopmentKit\", \"#SDK\", \"#Google\", \"#BrowserExtension\",
        \"#Android\", \"#IOS\", \"#WebApplication\"]\n}"
  recorded_at: Tue, 02 Dec 2014 18:15:40 GMT
recorded_with: VCR 2.9.3
