---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174310'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.3852650307103344},{"tag":"male","confidence":0.3317226317740392},{"tag":"adult","confidence":0.2784401671818152},{"tag":"person","confidence":0.2766912776213286},{"tag":"caucasian","confidence":0.26156983911435333},{"tag":"portrait","confidence":0.254440511247649},{"tag":"people","confidence":0.2531908362168205},{"tag":"expression","confidence":0.18991485696898355},{"tag":"face","confidence":0.18667383050737904},{"tag":"hat","confidence":0.1861666248096993},{"tag":"happy","confidence":0.179178[...]
