---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206381'
      X-Ratelimit-Reset:
      - '1442534400'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.41905796717273147},{"tag":"male","confidence":0.3872518051123938},{"tag":"person","confidence":0.2950782768596339},{"tag":"caucasian","confidence":0.28819937985516475},{"tag":"adult","confidence":0.28600742188124156},{"tag":"people","confidence":0.2813499223665775},{"tag":"portrait","confidence":0.25560805695443833},{"tag":"happy","confidence":0.1980226907997089},{"tag":"expression","confidence":0.1827944846728462},{"tag":"face","confidence":0.17406795347794163},{"tag":"smiling","confidence":0[...]
