---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206361'
      X-Ratelimit-Reset:
      - '1453507200'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.41905796757197195},{"tag":"male","confidence":0.38725180534808623},{"tag":"person","confidence":0.29507827705193707},{"tag":"caucasian","confidence":0.2881993798784205},{"tag":"adult","confidence":0.28600742166330817},{"tag":"people","confidence":0.2813499226088357},{"tag":"portrait","confidence":0.255608056915516},{"tag":"happy","confidence":0.19802269096390282},{"tag":"expression","confidence":0.1827944847651656},{"tag":"face","confidence":0.17406795354537002},{"tag":"smiling","confidence":0[...]
