---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206122'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.41905796753562874},{"tag":"male","confidence":0.3872518054516788},{"tag":"person","confidence":0.29507827718731},{"tag":"caucasian","confidence":0.2881993799295364},{"tag":"adult","confidence":0.2860074219923802},{"tag":"people","confidence":0.2813499226203596},{"tag":"portrait","confidence":0.2556080572502222},{"tag":"happy","confidence":0.19802269088783603},{"tag":"expression","confidence":0.1827944848628417},{"tag":"face","confidence":0.1740679535874355},{"tag":"smiling","confidence":0.1713[...]
