---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206112'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.41905796781562576},{"tag":"male","confidence":0.38725180560137573},{"tag":"person","confidence":0.2950782772093383},{"tag":"caucasian","confidence":0.2881993803315241},{"tag":"adult","confidence":0.28600742180091276},{"tag":"people","confidence":0.2813499227975374},{"tag":"portrait","confidence":0.25560805734323855},{"tag":"happy","confidence":0.198022691012874},{"tag":"expression","confidence":0.1827944845790072},{"tag":"face","confidence":0.17406795361041832},{"tag":"smiling","confidence":0.[...]
