---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205574'
      X-Ratelimit-Reset:
      - '1426550400'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.3828240410124513},{"tag":"male","confidence":0.34313045973878525},{"tag":"caucasian","confidence":0.285785633634663},{"tag":"person","confidence":0.2462146050245204},{"tag":"portrait","confidence":0.24096716620823957},{"tag":"people","confidence":0.24095074095814423},{"tag":"adult","confidence":0.23400797914615765},{"tag":"business","confidence":0.2113370115663617},{"tag":"face","confidence":0.20614719485480687},{"tag":"suit","confidence":0.20015157808011869},{"tag":"expression","confidence":0[...]
