---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174268'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.38526503059354744},{"tag":"male","confidence":0.3317226316182196},{"tag":"adult","confidence":0.2784401670808},{"tag":"person","confidence":0.2766912775826571},{"tag":"caucasian","confidence":0.26156983878279655},{"tag":"portrait","confidence":0.25444051117831934},{"tag":"people","confidence":0.25319083631581124},{"tag":"expression","confidence":0.18991485674025765},{"tag":"face","confidence":0.18667383014576536},{"tag":"hat","confidence":0.18616662485817884},{"tag":"happy","confidence":0.1791[...]
