---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205596'
      X-Ratelimit-Reset:
      - '1426550400'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.3828240407001911},{"tag":"male","confidence":0.34313045945162235},{"tag":"caucasian","confidence":0.2857856334762856},{"tag":"person","confidence":0.24621460504435},{"tag":"portrait","confidence":0.2409671660455617},{"tag":"people","confidence":0.24095074058961377},{"tag":"adult","confidence":0.23400797884900842},{"tag":"business","confidence":0.2113370112960779},{"tag":"face","confidence":0.20614719474012386},{"tag":"suit","confidence":0.20015157772804085},{"tag":"expression","confidence":0.1[...]
