---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206391'
      X-Ratelimit-Reset:
      - '1442534400'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.4190579673446029},{"tag":"male","confidence":0.3872518052431366},{"tag":"person","confidence":0.29507827701419215},{"tag":"caucasian","confidence":0.288199379874911},{"tag":"adult","confidence":0.28600742198271645},{"tag":"people","confidence":0.28134992261545727},{"tag":"portrait","confidence":0.2556080570696376},{"tag":"happy","confidence":0.19802269069260992},{"tag":"expression","confidence":0.18279448481381746},{"tag":"face","confidence":0.1740679536939326},{"tag":"smiling","confidence":0.[...]
