---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Faylien.com%2Fimages%2Fmichaelo.png
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206371'
      X-Ratelimit-Reset:
      - '1453507200'
    body:
      encoding: UTF-8
      string: '{"image":"http://aylien.com/images/michaelo.png","tags":[{"tag":"man","confidence":0.41905796752863317},{"tag":"male","confidence":0.38725180557522626},{"tag":"person","confidence":0.2950782772367672},{"tag":"caucasian","confidence":0.28819937995746114},{"tag":"adult","confidence":0.2860074220726819},{"tag":"people","confidence":0.2813499226629327},{"tag":"portrait","confidence":0.2556080570430241},{"tag":"happy","confidence":0.19802269093369854},{"tag":"expression","confidence":0.18279448479009905},{"tag":"face","confidence":0.17406795368419534},{"tag":"smiling","confidence":[...]
