---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/image-tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174298'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: Form field 'url' Required",
          "errors": [{
            "reason": "required",
            "message": "Form field 'url' Required",
            "locationType": "parameter",
            "location": "url"
          }, {
            "reason": "required",
            "message": "Query parameter 'url' Required",
            "locationType": "parameter",
            "location": "url"
          }]
        }
  recorded_at: Thu, 28 Apr 2016 10:35:29 GMT
recorded_with: VCR 2.9.3
