---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: text=Hello+there%21+How%27s+it+going%3F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"text\": \"Hello there! How's it going?\",\n  \"lang\": \"en\",\n
        \ \"confidence\": 0.9999968908915913\n}"
  recorded_at: Tue, 02 Dec 2014 18:15:07 GMT
recorded_with: VCR 2.9.3
