---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: text=Hello+there%21+How%27s+it+going%3F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205534'
      X-Ratelimit-Reset:
      - '1426550400'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Hello there! How's it going?",
          "lang": "en",
          "confidence": 0.999996327833589
        }
  recorded_at: Mon, 16 Mar 2015 14:33:43 GMT
recorded_with: VCR 2.9.3
