---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: text=Hello+there%21+How%27s+it+going%3F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205353'
      X-Ratelimit-Reset:
      - '1423612800'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Hello there! How's it going?",
          "lang": "en",
          "confidence": 0.9999993222674556
        }
  recorded_at: Tue, 10 Feb 2015 14:06:57 GMT
recorded_with: VCR 2.9.3
