---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: wrong_param=Hello+there%21+How%27s+it+going%3F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206082'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: either text or url is required",
          "errors": [{
            "reason": "required",
            "message": "either text or url is required",
            "locationType": "parameter",
            "location": "text"
          }]
        }
  recorded_at: Thu, 06 Aug 2015 16:59:44 GMT
recorded_with: VCR 2.9.3
