---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: text=Hello+there%21+How%27s+it+going%3F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206081'
      X-Ratelimit-Reset:
      - '1438905600'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Hello there! How's it going?",
          "lang": "en",
          "confidence": 0.9999993297091697
        }
  recorded_at: Thu, 06 Aug 2015 16:59:44 GMT
recorded_with: VCR 2.9.3
