---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/microformats
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fcodepen.io%2Fanon%2Fpen%2FZYaKbz.html
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174158'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "hCards": [{
            "birthday": "1951-05-26",
            "organization": "Sally Ride Science",
            "telephoneNumber": "+1.818.555.1212",
            "location": {
              "id": "9f15e27ff48eb28c57f49fb177a1ed0af78f93ab",
              "latitude": "37.386013",
              "longitude": "-122.082932"
            },
            "photo": "http://example.com/sk.jpg",
            "email": "sally@example.com",
            "url": "http://flickr.com/people/tantek/",
            "fullName": "Sally Ride",
            "structuredName": {
              "familyName": "van der Harten",
              "givenName": "Sally",
              "honorificSuffix": "Ph.D.",
              "id": "425eb5874a2913967fe1ea304e7d1899e41f43aa",
              "additionalName": "K.",
              "honorificPrefix": "Dr."
            },
            "logo": "http://www.abc.com/pub/logos/abccorp.jpg",
            "id": "7d021199b0d826eef60cd31279037270e38715cd",
            "note": "1st American woman in space.",
            "address": {
              "streetAddress": "123 Main st.",
              "countryName": "U.S.A",
              "postalCode": "91316",
              "id": "00cc73c1f9773a66613b04f11ce57317eecf636b",
              "region": "California",
              "locality": "Los Angeles"
            },
            "category": "physicist"
          }]
        }
  recorded_at: Thu, 28 Apr 2016 10:36:07 GMT
recorded_with: VCR 2.9.3
