---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/microformats
    body:
      encoding: US-ASCII
      string: wrong_param=http%3A%2F%2Fcodepen.io%2Fanon%2Fpen%2FZYaKbz.html
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205515'
      X-Ratelimit-Reset:
      - '1426550400'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: Form field 'url' Required",
          "errors": [{
            "reason": "required",
            "message": "Form field 'url' Required",
            "locationType": "parameter",
            "location": "url"
          }, {
            "reason": "required",
            "message": "Query parameter 'url' Required",
            "locationType": "parameter",
            "location": "url"
          }]
        }
  recorded_at: Mon, 16 Mar 2015 14:33:58 GMT
recorded_with: VCR 2.9.3
