---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/language
    body:
      encoding: US-ASCII
      string: text=Hello+world%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206417'
      X-Ratelimit-Reset:
      - '1453507200'
    body:
      encoding: UTF-8
      string: |-
        {
          "text": "Hello world!",
          "lang": "en",
          "confidence": 0.8571374246334791
        }
  recorded_at: Fri, 22 Jan 2016 13:17:07 GMT
recorded_with: VCR 2.9.3
