---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/related
    body:
      encoding: US-ASCII
      string: phrase=android
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - <PASSWORD>
      App-Key:
      - <PASSWORD>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"phrase\": \"android\",\n  \"related\": [{\n    \"phrase\":
        \"ios\",\n    \"distance\": 0.8744090795516968\n  }, {\n    \"phrase\": \"iphone\",\n
        \   \"distance\": 0.8465747237205505\n  }, {\n    \"phrase\": \"iphone ipad\",\n
        \   \"distance\": 0.8268404006958008\n  }, {\n    \"phrase\": \"blackberry
        playbook\",\n    \"distance\": 0.8240213394165039\n  }, {\n    \"phrase\":
        \"symbian\",\n    \"distance\": 0.8222286701202393\n  }, {\n    \"phrase\":
        \"smartphones\",\n    \"distance\": 0.8179833889007568\n  }, {\n    \"phrase\":
        \"smar[...]
