---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/related
    body:
      encoding: US-ASCII
      string: wrong_param
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206296'
      X-Ratelimit-Reset:
      - '1442534400'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: Form field 'phrase' Required",
          "errors": [{
            "reason": "required",
            "message": "Form field 'phrase' Required",
            "locationType": "parameter",
            "location": "phrase"
          }, {
            "reason": "required",
            "message": "Query parameter 'phrase' Required",
            "locationType": "parameter",
            "location": "phrase"
          }]
        }
  recorded_at: Thu, 17 Sep 2015 11:18:33 GMT
recorded_with: VCR 2.9.3
