---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/related
    body:
      encoding: US-ASCII
      string: phrase=android
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      App-Id:
      - "<PASSWORD>"
      App-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '205389'
      X-Ratelimit-Reset:
      - '1423612800'
    body:
      encoding: UTF-8
      string: |-
        {
          "phrase": "android",
          "related": [{
            "phrase": "ios",
            "distance": 0.8744090795516968
          }, {
            "phrase": "iphone",
            "distance": 0.8465747237205505
          }, {
            "phrase": "iphone ipad",
            "distance": 0.8268404006958008
          }, {
            "phrase": "blackberry playbook",
            "distance": 0.8240213394165039
          }, {
            "phrase": "symbian",
            "distance": 0.8222286701202393
          }, {
            "phrase": "smartphones",
            "distance": 0.8179833889007568
      [...]
