---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/related
    body:
      encoding: US-ASCII
      string: url=http%3A%2F%2Fwww.bbc.com%2Fsport%2F0%2Ffootball%2F25912393
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '206393'
      X-Ratelimit-Reset:
      - '1453507200'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: Form field 'phrase' Required",
          "errors": [{
            "reason": "required",
            "message": "Form field 'phrase' Required",
            "locationType": "parameter",
            "location": "phrase"
          }, {
            "reason": "required",
            "message": "Query parameter 'phrase' Required",
            "locationType": "parameter",
            "location": "phrase"
          }]
        }
  recorded_at: Fri, 22 Jan 2016 13:17:34 GMT
recorded_with: VCR 2.9.3
