---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/related
    body:
      encoding: US-ASCII
      string: phrase=android
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '173636'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "phrase": "android",
          "related": [{
            "phrase": "android version",
            "distance": 0.3989213705062866
          }, {
            "phrase": "ios",
            "distance": 0.41522765159606934
          }, {
            "phrase": "android devices",
            "distance": 0.423676073551178
          }, {
            "phrase": "android lollipop",
            "distance": 0.4261924624443054
          }, {
            "phrase": "iphone",
            "distance": 0.42704862356185913
          }, {
            "phrase": "android os",
            "distance": 0.42750751972198486
        [...]
