---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/sentiment
    body:
      encoding: US-ASCII
      string: wrong_param=I+really+enjoyed+using+the+Canon+Ixus+in+Madrid.%0A++++++The+Panasonic+Lumix+is+a+poor+camera%2C+but+the+Canon+Ixus+is+really+sleek.%0A++++++The+Canon+Ixus+is+much+better+than+the+Panasonic+Lumix.%0A++++++All+I+want+to+do+with+a+camera+is+point+it+and+then+just+press+the+button.%0A++++++The+Canon+Ixus+is+perfect+for+that.+You+will+soon+get+great+photos%0A++++++with+very+little+effort.+I+had+previously+returned+a+Panasonic+Lumix%0A++++++because+the+pictures+were+not+of+the+quality+I+expected.%0A++++++Spending+the+money+on+the+Canon+was+a+smart+move.%0A++++++I+would+recommend+the+Ixus+to+anyone+without+hesitation.%0A++++++Two+small+issues+to+be+pointed+out%3A+firstly%2C+the+battery%0A++++++life+is+not+fantastic.+Also%2C+the+zoom+is+not+very+powerful.%0A++++++If+your+subject+is+far+away%2C+you+should+not+expect+good+results.%0A++++++Review+made+by+John+Irving+from+Florida.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174039'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "requirement failed: either text or url is required",
          "errors": [{
            "reason": "required",
            "message": "either text or url is required",
            "locationType": "parameter",
            "location": "text"
          }]
        }
  recorded_at: Thu, 28 Apr 2016 10:36:55 GMT
recorded_with: VCR 2.9.3
