---
http_interactions:
- request:
    method: post
    uri: https://api.aylien.com/api/v1/sentiment
    body:
      encoding: US-ASCII
      string: text=I+really+enjoyed+using+the+Canon+Ixus+in+Madrid.%0A++++++The+Panasonic+Lumix+is+a+poor+camera%2C+but+the+Canon+Ixus+is+really+sleek.%0A++++++The+Canon+Ixus+is+much+better+than+the+Panasonic+Lumix.%0A++++++All+I+want+to+do+with+a+camera+is+point+it+and+then+just+press+the+button.%0A++++++The+Canon+Ixus+is+perfect+for+that.+You+will+soon+get+great+photos%0A++++++with+very+little+effort.+I+had+previously+returned+a+Panasonic+Lumix%0A++++++because+the+pictures+were+not+of+the+quality+I+expected.%0A++++++Spending+the+money+on+the+Canon+was+a+smart+move.%0A++++++I+would+recommend+the+Ixus+to+anyone+without+hesitation.%0A++++++Two+small+issues+to+be+pointed+out%3A+firstly%2C+the+battery%0A++++++life+is+not+fantastic.+Also%2C+the+zoom+is+not+very+powerful.%0A++++++If+your+subject+is+far+away%2C+you+should+not+expect+good+results.%0A++++++Review+made+by+John+Irving+from+Florida.
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Aylien-Textapi-Application-Id:
      - "<PASSWORD>"
      X-Aylien-Textapi-Application-Key:
      - "<PASSWORD>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '207000'
      X-Ratelimit-Remaining:
      - '174038'
      X-Ratelimit-Reset:
      - '1461888000'
    body:
      encoding: UTF-8
      string: |-
        {
          "polarity": "negative",
          "subjectivity": "subjective",
          "text": "I really enjoyed using the Canon Ixus in Madrid.\n      The Panasonic Lumix is a poor camera, but the Canon Ixus is really sleek.\n      The Canon Ixus is much better than the Panasonic Lumix.\n      All I want to do with a camera is point it and then just press the button.\n      The Canon Ixus is perfect for that. You will soon get great photos\n      with very little effort. I had previously returned a Panasonic Lumix\n      because the pictures were not of the quality I expected.\n      Spending the money on the Canon was a smart move.\n      I would recommend the Ixus to anyone without hesitation.\n      Two small issues to be pointed out: firstly, the battery\n      life is not fantastic. Also, the zoom is not very powerful.\n      If your subject is far away, you should not expect good results.\n      Review made by John Irving from Florida.",
          "polarity_confidence": 0.7596983474618918,
          "subjectivity_confidence": 1.0
        }
  recorded_at: Thu, 28 Apr 2016 10:36:56 GMT
recorded_with: VCR 2.9.3
